#Box {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 1rem;
    width: 80%;
    max-width: 15rem;
    align-items: center;
    background-color: gray;
    margin-bottom: 1rem;
}

#Box p {
    margin: 0;
}

p#guid {
    font-style: italic;
    font-size: .5rem;
    width: 80%;
}