h1 {
  margin: 0;
}

.error {
  position: fixed;
  z-index: 9999;
  
  width: 70vw;
  max-width: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(203, 36, 36);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
}