#production {
    padding: 1rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.ProductionIndex {
    border-style: solid;
    flex: 1;
    justify-items: center;
    padding: 1rem;
}

#ProductionBox {
    padding: 1rem;
    justify-items: center;
    width: 100%;
    border-style: solid;
    border-color: red;
}