main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}
#production {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.ProductionIndex {
    border-style: solid;
    flex: 1;
    justify-items: center;
    padding: 1rem;
}

#ProductionLine {
    display: flex;
}